<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">


<suite name="Suite">

<listeners>
	<listener class-name="listeners.MyAnnotationTransformer"/><!--  working fine as per my expectation -->
	<listener class-name="Utilities.ExtentReporting"/>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="myPagesTest.TestPage"/>
      <!--      <class name="ExtentReports.ExtentReportsTest"/>   	 -->
    
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
